@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
img{
    width: 90vw;
    height: 70vh;
}
img,p,input{
    display: none;
}
p{
    font-size: 1.5rem;
    color: white;
}
body{
    background-color: rgb(37,40,42);
}
.container{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.meta-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.controls{
    display: none;
    align-items: center;
}

label{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 1rem;
    height: 1rem;
    background-color: rgb(114,171,254);
    border-color: rgb(114,171,254);
    border-width: 0.15rem;
    border-radius: 1rem;
    border-style: solid;
}
.icon:hover{
    background-color: white;
    border-color: white;
}
.text-controls-block{
    display: flex
}
input:checked + .slider-content img{
    display: block;
    animation: fadeIn 1s;
}
input:checked + .slider-content p.slide-text{
    display: block;
    animation: fadeIn 1s;
}
input:checked + .slider-content .text-controls-block .controls{
    display: flex;
    column-gap: 0.5rem;
}
#memInput1:checked + .slider-content .text-controls-block .controls #memLabel1 .icon,
#memInput2:checked + .slider-content .text-controls-block .controls #memLabel2 .icon,
#memInput3:checked + .slider-content .text-controls-block .controls #memLabel3 .icon,
#memInput4:checked + .slider-content .text-controls-block .controls #memLabel4 .icon{
    background-color: rgb(37,40,42);
}
@media screen and (min-width: 500px) {
   .text-controls-block{
       justify-content: space-between;
   }
}
@media screen and (max-width: 499px) {
    .slider-content{
        display: flex;
        flex-direction: column;
        row-gap: 1.3rem;
    }
    .text-controls-block{
        flex-direction: column;
    }
    .slide-text{
        order: 1;
    }
    .controls{
        align-self: center;
    }
}